@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

I like this site.

<strong>1</strong>   <a href="http://www.archimedes-lab.org/numbers/Num1_69.html">Archimedes Lab</a><br />
<p></p>

I am Not NAN!
