@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>-1</strong>   <a href="https://en.wikipedia.org/wiki/-1">Negative One</a><br />
    <strong>Euler's Identity</strong>   <a href="https://en.wikipedia.org/wiki/Euler%27s_identity">e^{i\pi }+1=0</a><br />
</address>
<br /><br />
<address>
    <strong>0</strong> <a href="https://en.wikipedia.org/wiki/0">Zero</a><br />
    <strong>1</strong> <a href="https://en.wikipedia.org/wiki/1">One</a><br />
    <strong>2</strong> <a href="https://en.wikipedia.org/wiki/2">Two</a><br />
</address>