@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Numberology</h1>
    <p class="lead">Numberology is all about the infinite pleasure of numbers.</p>
    <p><a href="https://en.wikipedia.org/wiki/Number" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    <h1>Numbers are Great</h1>
    <div class="col-md-12">
        <div >
            Numbers are great to add to<br />
            Languages are good too<br />
            Riddles about numbers are fun<br />
            some are even a pun<br />
            So Let's mix a few.<br />
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">

                @Html.ActionLink("List Known Numbers", "Index", "Number", new { }, new { @class = "btn btn-success" })

            </div>

            <div class="col-md-4">
                @Html.ActionLink("List Known Languages", "Index", "RelatedNumber", new { }, new { @class = "btn btn-success" })
            </div>

            <div class="col-md-4">
                @Html.ActionLink("List Riddles", "Index", "Riddle", new { }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>
